matplotlib==3.3.3
numpy==1.19.5
pandas==1.2.0
rpy2==3.4.2
scikit-learn==0.24.0
scipy==1.6.0
tensorboard==2.4.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
tensorflow-serving-api-gpu==2.4.0
tensorflow-serving-api==2.4.0
